<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed7f61d3-5eb5-44aa-8138-a33509fae6a1" Alias="EChart - Dropdown" Level="1">
  <Info>
    <Name>EChart - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "line"
    },
    {
      "id": 2,
      "value": "bar"
    }
  ]
}]]></Config>
</DataType>