<?xml version="1.0" encoding="utf-8"?>
<DataType Key="362809c2-e4a0-4215-b16b-aa4da383aa05" Alias="EChart - Checkbox list" Level="1">
  <Info>
    <Name>EChart - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "production units"
    },
    {
      "id": 2,
      "value": "core temperature"
    },
    {
      "id": 3,
      "value": "level"
    },
    {
      "id": 4,
      "value": "power consumption"
    },
    {
      "id": 5,
      "value": "some signal"
    }
  ]
}]]></Config>
</DataType>