<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6538f34-c430-407f-be8a-8955ab5a8cdb" Alias="Hello Solve - widgets - Nested Content" Level="1">
  <Info>
    <Name>Hello Solve - widgets - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textWidget",
      "ncTabAlias": "Widget Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "eChart",
      "ncTabAlias": "Widget Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>