<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df84bd1a-8d30-4a6b-931b-16ab0309d3ef" Alias="Machine - Long - Decimal" Level="1">
  <Info>
    <Name>Machine - Long - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": -180,
  "step": 1E-15,
  "max": 180
}]]></Config>
</DataType>