<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b5c46f7-d4f9-4ca7-b968-b7f28ee16372" Alias="Machine - Lat - Decimal" Level="1">
  <Info>
    <Name>Machine - Lat - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": -180,
  "step": 1E-15,
  "max": 180
}]]></Config>
</DataType>