<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92cefb65-dc9b-439d-9605-303b5a3c7dd9" Alias="TextWidget - widgets - Nested Content" Level="1">
  <Info>
    <Name>TextWidget - widgets - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textWidget",
      "ncTabAlias": "Widget Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>