<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="664c3980-4290-42d5-b7f1-65e9dc1de144" Alias="eChart" Level="3">
  <Info>
    <Name>EChart</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3eae4d00-3248-4403-b5d9-6aa5bdfa16c0">baseWidget</Parent>
    <Compositions>
      <Composition Key="3eae4d00-3248-4403-b5d9-6aa5bdfa16c0">baseWidget</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e65a856b-f46f-436b-84f4-1e9eb19f81b3</Key>
      <Name>machine</Name>
      <Alias>machine</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="widgetSettings">Widget Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6a885538-2c7c-44e2-92b1-e4b8f9152f0e</Key>
      <Name>Signals</Name>
      <Alias>signals</Alias>
      <Definition>362809c2-e4a0-4215-b16b-aa4da383aa05</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="widgetSettings">Widget Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b80aebea-ec7a-432f-9565-3e9ab1fcb69a</Key>
      <Name>Type</Name>
      <Alias>type</Alias>
      <Definition>ed7f61d3-5eb5-44aa-8138-a33509fae6a1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="widgetSettings">Widget Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1e16f240-89cd-4d65-be3a-cf67228d2550</Key>
      <Caption>Widget Settings</Caption>
      <Alias>widgetSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>