<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58850067-030d-4323-97cb-c9c677c61bff" Alias="helloSolve" Level="1">
  <Info>
    <Name>Hello Solve</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HelloSolve</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="98933716-285a-4345-8472-44edc1859247">HelloSolve</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="95f91646-9909-400d-9ebf-0aeaf6d0e47f" SortOrder="0">machine</ContentType>
    <ContentType Key="558016de-4dd4-4a78-92ca-e02473b387e2" SortOrder="1">machineOverview</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0996444f-f0fd-44cb-a211-fe063baabf98</Key>
      <Name>image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="testdata/test">Test</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37e99581-ef61-44f4-b4da-ad5015a54be7</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testdata/test">Test</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0ddc558-509e-43f7-8ee1-974f1dbeb9ae</Key>
      <Name>widgetsLeft</Name>
      <Alias>widgetsLeft</Alias>
      <Definition>b6538f34-c430-407f-be8a-8955ab5a8cdb</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="testdata/test">Test</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76e8e837-6144-48a6-ab7b-e8e3c8fbd734</Key>
      <Name>widgetsRight</Name>
      <Alias>widgetsRight</Alias>
      <Definition>b6538f34-c430-407f-be8a-8955ab5a8cdb</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="testdata/test">Test</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e6e10701-4270-4f12-9871-9488761207f0</Key>
      <Caption>Test</Caption>
      <Alias>testdata/test</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c6ae9cd4-889e-4d73-93ac-738d17243c11</Key>
      <Caption>Testdata</Caption>
      <Alias>testdata</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>