<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="558016de-4dd4-4a78-92ca-e02473b387e2" Alias="machineOverview" Level="2">
  <Info>
    <Name>Machine Overview</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="58850067-030d-4323-97cb-c9c677c61bff">helloSolve</Parent>
    <Compositions>
      <Composition Key="58850067-030d-4323-97cb-c9c677c61bff">helloSolve</Composition>
    </Compositions>
    <DefaultTemplate>MachineOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a0656f10-0d94-4780-8dc1-cd4b360013fc">MachineOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="95f91646-9909-400d-9ebf-0aeaf6d0e47f" SortOrder="0">machine</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>