<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6b9408b-2542-44ad-b1da-58025784b9f8" Alias="machineTab" Level="1">
  <Info>
    <Name>Machine Tab</Name>
    <Icon>icon-tab color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MachineTab</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="87909c87-4036-454e-873d-ecdf21d24de4">MachineTab</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>037ba4f1-6f69-4e83-8072-3052ed5610b1</Key>
      <Name>widgets</Name>
      <Alias>widgets</Alias>
      <Definition>b6538f34-c430-407f-be8a-8955ab5a8cdb</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="widgets">Widgets</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>97fa20b2-0850-4b51-ac9f-2b62cfb3da27</Key>
      <Caption>Widgets</Caption>
      <Alias>widgets</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>