<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="216872bd-2851-4020-803b-f9ca6c6ee2e6" Alias="tableWidget" Level="3">
  <Info>
    <Name>Table Widget</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3eae4d00-3248-4403-b5d9-6aa5bdfa16c0">baseWidget</Parent>
    <Compositions>
      <Composition Key="3eae4d00-3248-4403-b5d9-6aa5bdfa16c0">baseWidget</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1cea7c4c-786a-4591-ad45-ea72365d5ce9</Key>
      <Name>Machine</Name>
      <Alias>machine</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="widgetSettings">Widget Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>028b3ee4-d42e-4e20-b420-cb8f99e30014</Key>
      <Name>Signals</Name>
      <Alias>signals</Alias>
      <Definition>362809c2-e4a0-4215-b16b-aa4da383aa05</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="widgetSettings">Widget Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e5e4b4b1-c354-41ef-b276-02aa6de2e864</Key>
      <Caption>Widget Settings</Caption>
      <Alias>widgetSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>