@using UmbracoDemo.TestProject.Models.PageModels;


@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HelloSolve>
@{
	Layout = "Master.cshtml";
}


<h1>@Model.Title</h1>

<img src="@Model.Image?.Src" alt="@Model.Image?.Alt" />

@if (Model.Widgets != null && Model.Widgets.Any())
{
    <div class="modules">
        @foreach (var widget in Model.Widgets)
        {
            @await widget.RenderModule(this.Html)
        }
    </div>
	
}


