@    using UmbracoDemo.TestProject.Models;
    using UmbracoDemo.TestProject.Models.PageModels;


@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HelloSolve>
@{
	Layout = null;
}


<h1>@Model.Title</h1>