<?xml version="1.0" encoding="utf-8"?>
<Media Key="57ec9f54-e4cf-497a-aad5-d75ca74f1f1d" Alias="Eco Solvent Printing Machine Gcdc7abd44 1920" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EcoSolventPrintingMachineGcdc7abd441920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-22T10:00:40</CreateDate>
    <NodeName Default="Eco Solvent Printing Machine Gcdc7abd44 1920" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kkppyv4p/eco-solvent-printing-machine-gcdc7abd44_1920.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>