<?xml version="1.0" encoding="utf-8"?>
<Media Key="86729e28-3a08-4acf-b39b-f283579bbde8" Alias="Header Home2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeaderHome2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-06-14T13:19:28</CreateDate>
    <NodeName Default="Header Home2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/f0phfbqi/header_home2.jpg","focalPoint":{"left":0.5977443609022557,"top":0.24564941671421403}}]]></Value>
    </umbracoFile>
  </Properties>
</Media>