<?xml version="1.0" encoding="utf-8"?>
<Media Key="daf1a249-cbf9-4b0a-9545-365e3ec88480" Alias="Milling Ga350b3ec0 1920" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MillingGa350b3ec01920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-19T14:02:58</CreateDate>
    <NodeName Default="Milling Ga350b3ec0 1920" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j4rpdwxz/milling-ga350b3ec0_1920.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>