@model UmbracoDemo.TestProject.Models.Echarts.GoogleMaps


<google-maps>
    @foreach(var marker in Model.Markers)
    {
        <g-maps-marker  lat="@marker.Lat" long="@marker.Long">
            <h2>@marker.InfoWindowTitle</h2>
            <p style="font-size: 1.1em">@Html.Raw(marker.InfoWindowContent)</p>
        </g-maps-marker>    
    }
</google-maps>