<?xml version="1.0" encoding="utf-8"?>
<Content Key="b796ab72-0e24-4685-8284-3aec6a47cc12" Alias="1" Level="4">
  <Info>
    <Parent Key="41dfe931-539d-4f56-8d48-9eaefd29a78d">Machine 1</Parent>
    <Path>/Home/MachineOverview/Machine1/</Path>
    <Trashed>false</Trashed>
    <ContentType>machineTab</ContentType>
    <CreateDate>2022-07-19T17:37:42</CreateDate>
    <NodeName Default="1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87909c87-4036-454e-873d-ecdf21d24de4">MachineTab</Template>
  </Info>
  <Properties>
    <widgets>
      <Value><![CDATA[]]></Value>
    </widgets>
  </Properties>
</Content>