<?xml version="1.0" encoding="utf-8"?>
<Content Key="f44a88ee-94cc-4961-a5fe-d5a922d37e2a" Alias="2" Level="4">
  <Info>
    <Parent Key="41dfe931-539d-4f56-8d48-9eaefd29a78d">Machine 1</Parent>
    <Path>/Home/MachineOverview/Machine1/</Path>
    <Trashed>false</Trashed>
    <ContentType>machineTab</ContentType>
    <CreateDate>2022-07-19T17:38:02</CreateDate>
    <NodeName Default="2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87909c87-4036-454e-873d-ecdf21d24de4">MachineTab</Template>
  </Info>
  <Properties>
    <widgets>
      <Value><![CDATA[]]></Value>
    </widgets>
  </Properties>
</Content>