<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7077867-1b1e-4057-ba9a-413fab3a790a" Alias="Dominics Machine" Level="3">
  <Info>
    <Parent Key="6e4833b9-a853-49a1-a738-91db3a6d548a">Machine Overview</Parent>
    <Path>/HelloSolve/MachineOverview/DominicsMachine</Path>
    <Trashed>false</Trashed>
    <ContentType>machine</ContentType>
    <CreateDate>2022-06-16T08:15:36</CreateDate>
    <NodeName Default="Dominics Machine" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee3c65c4-9218-4967-a160-ea5f7a294ee6">Machine</Template>
  </Info>
  <Properties>
    <customer>
      <Value><![CDATA[Dominic]]></Value>
    </customer>
    <description>
      <Value><![CDATA[sdfdfsfdsgfd]]></Value>
    </description>
    <displayName>
      <Value><![CDATA[Dominic]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <lat>
      <Value><![CDATA[47.431005]]></Value>
    </lat>
    <long>
      <Value><![CDATA[9.216732]]></Value>
    </long>
    <member>
      <Value><![CDATA[]]></Value>
    </member>
    <serialNo>
      <Value><![CDATA[SLV-DEV0008]]></Value>
    </serialNo>
    <title>
      <Value><![CDATA[Dominic]]></Value>
    </title>
    <widgets>
      <Value><![CDATA[[{"key":"5bf8992e-db07-48e4-aecb-67b336392e82","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"line\"]","title":"husudhgj","signals":"[\"core temperature\",\"level\"]","machine":""},{"key":"939abf09-d4d5-4f81-9649-d144eff0d7ba","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"bar\"]","title":"husudhgj","signals":"[\"production units\"]","machine":""}]]]></Value>
    </widgets>
  </Properties>
</Content>