<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bd927e0-598d-490f-b8a0-f532a146867b" Alias="Fancy Machine" Level="3">
  <Info>
    <Parent Key="6e4833b9-a853-49a1-a738-91db3a6d548a">Machine Overview</Parent>
    <Path>/HelloSolve/MachineOverview/FancyMachine</Path>
    <Trashed>false</Trashed>
    <ContentType>machine</ContentType>
    <CreateDate>2022-06-15T21:22:09</CreateDate>
    <NodeName Default="Fancy Machine" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee3c65c4-9218-4967-a160-ea5f7a294ee6">Machine</Template>
  </Info>
  <Properties>
    <customer>
      <Value><![CDATA[Keller]]></Value>
    </customer>
    <description>
      <Value><![CDATA[dfsaregf]]></Value>
    </description>
    <displayName>
      <Value><![CDATA[Fancy Machine]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <lat>
      <Value><![CDATA[47.496445]]></Value>
    </lat>
    <long>
      <Value><![CDATA[9.258549]]></Value>
    </long>
    <member>
      <Value><![CDATA[]]></Value>
    </member>
    <serialNo>
      <Value><![CDATA[SLV-DEV0008]]></Value>
    </serialNo>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <widgets>
      <Value><![CDATA[[{"key":"f4b8a3f9-7410-4f15-a4e3-111ac444a5fd","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"line\"]","title":"Test","signals":"[\"core temperature\",\"production units\",\"power consumption\"]","machine":""},{"key":"0a284772-94b9-4442-9f4e-03851135d069","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"bar\"]","title":"","signals":"[\"core temperature\"]","machine":""}]]]></Value>
    </widgets>
  </Properties>
</Content>