<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f871dad-7ed2-453e-a444-3daa610c7ae7" Alias="Hawaii Machine" Level="3">
  <Info>
    <Parent Key="6e4833b9-a853-49a1-a738-91db3a6d548a">Machine Overview</Parent>
    <Path>/HelloSolve/MachineOverview/HawaiiMachine</Path>
    <Trashed>false</Trashed>
    <ContentType>machine</ContentType>
    <CreateDate>2022-06-16T14:05:52</CreateDate>
    <NodeName Default="Hawaii Machine" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee3c65c4-9218-4967-a160-ea5f7a294ee6">Machine</Template>
  </Info>
  <Properties>
    <customer>
      <Value><![CDATA[Jason Momoa]]></Value>
    </customer>
    <description>
      <Value><![CDATA[Test]]></Value>
    </description>
    <displayName>
      <Value><![CDATA[Hawaii Machine]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <lat>
      <Value><![CDATA[21.371822]]></Value>
    </lat>
    <long>
      <Value><![CDATA[-158.048764]]></Value>
    </long>
    <member>
      <Value><![CDATA[]]></Value>
    </member>
    <serialNo>
      <Value><![CDATA[SLV-DEV0010]]></Value>
    </serialNo>
    <title>
      <Value><![CDATA[Hawaii Machine]]></Value>
    </title>
    <widgets>
      <Value><![CDATA[[{"key":"286da843-c6ad-4451-b03d-d8234c75a807","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"line\"]","title":"","signals":"[\"production units\"]","machine":""},{"key":"29c3a6e9-f632-4da2-81e1-487196b77d3b","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"bar\"]","title":"","signals":"[\"level\"]","machine":""},{"key":"dfb44475-9743-44bd-84fc-5456fb61758b","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"line\"]","title":"","signals":"[\"core temperature\"]","machine":""},{"key":"7003e004-630e-4468-a048-81248e1e097e","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"line\"]","title":"","signals":"[\"power consumption\"]","machine":""}]]]></Value>
    </widgets>
  </Properties>
</Content>