<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf16d094-76eb-45a5-869d-9cba2b828945" Alias="Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>helloSolve</ContentType>
    <CreateDate>2022-07-22T09:45:40</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-ch">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="98933716-285a-4345-8472-44edc1859247">HelloSolve</Template>
  </Info>
  <Properties>
    <image>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </image>
    <title>
      <Value Culture="de-ch"><![CDATA[Home]]></Value>
    </title>
    <widgetsLeft>
      <Value><![CDATA[]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value><![CDATA[]]></Value>
    </widgetsRight>
  </Properties>
</Content>