<?xml version="1.0" encoding="utf-8"?>
<Content Key="438b3ff6-86ca-4ba5-b4e5-902b255a4b89" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>helloSolve</ContentType>
    <CreateDate>2022-07-07T16:26:43</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="98933716-285a-4345-8472-44edc1859247">HelloSolve</Template>
  </Info>
  <Properties>
    <image>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5148cb02-743c-42b9-883c-149f9a3d0c42",
    "mediaKey": "86729e28-3a08-4acf-b39b-f283579bbde8"
  }
]]]></Value>
    </image>
    <title>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
    </title>
    <widgetsLeft>
      <Value Culture="en-us"><![CDATA[[{"key":"627e793b-fc53-4f56-b1a0-564210f06e1a","name":"Table Widget","ncContentTypeAlias":"tableWidget","PropType":null,"machine":"umb://document/41dfe931539d4f568d489eaefd29a78d","isCollapsible":"0","signals":"[\"level\",\"core temperature\"]","title":"Tabelle"}]]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value Culture="en-us"><![CDATA[[{"key":"4a64e858-5739-4f27-8ab4-dc094323a394","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"bar\"]","isCollapsible":"1","signals":"[\"production units\"]","title":"Test","machine":"umb://document/41dfe931539d4f568d489eaefd29a78d"}]]]></Value>
    </widgetsRight>
  </Properties>
</Content>