<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9e250ec-f880-49b4-a250-57485bd0bfce" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>helloSolve</ContentType>
    <CreateDate>2022-07-22T09:48:46</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-ch">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="98933716-285a-4345-8472-44edc1859247">HelloSolve</Template>
  </Info>
  <Properties>
    <image>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </image>
    <title>
      <Value Culture="de-ch"><![CDATA[Home]]></Value>
    </title>
    <widgetsLeft>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </widgetsRight>
  </Properties>
</Content>