<?xml version="1.0" encoding="utf-8"?>
<Content Key="1482610a-660f-474c-8a89-9f15ad823e3c" Alias="Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>helloSolve</ContentType>
    <CreateDate>2022-07-07T16:25:15</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-ch">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="98933716-285a-4345-8472-44edc1859247">HelloSolve</Template>
  </Info>
  <Properties>
    <image>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "75ecaccb-c4fd-4312-9c06-828b2e9ddf62",
    "mediaKey": "86729e28-3a08-4acf-b39b-f283579bbde8"
  }
]]]></Value>
    </image>
    <title>
      <Value Culture="de-ch"><![CDATA[Home ]]></Value>
    </title>
    <widgetsLeft>
      <Value><![CDATA[]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value><![CDATA[]]></Value>
    </widgetsRight>
  </Properties>
</Content>