<?xml version="1.0" encoding="utf-8"?>
<Content Key="adc6e8a1-9df0-45f4-a837-9e1ce93802a2" Alias="Machine Overview" Level="2">
  <Info>
    <Parent Key="438b3ff6-86ca-4ba5-b4e5-902b255a4b89">Home</Parent>
    <Path>/Home/MachineOverview</Path>
    <Trashed>false</Trashed>
    <ContentType>machineOverview</ContentType>
    <CreateDate>2022-07-07T16:27:24</CreateDate>
    <NodeName Default="Machine Overview" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a0656f10-0d94-4780-8dc1-cd4b360013fc">MachineOverview</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Machine]]></Value>
    </title>
    <widgetsLeft>
      <Value><![CDATA[]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value><![CDATA[]]></Value>
    </widgetsRight>
  </Properties>
</Content>