<?xml version="1.0" encoding="utf-8"?>
<Content Key="48ad01bf-9364-4aba-9e7c-dd89555969d3" Alias="machine-1" Level="3">
  <Info>
    <Parent Key="6e4833b9-a853-49a1-a738-91db3a6d548a">Machine Overview</Parent>
    <Path>/HelloSolve/MachineOverview/machine1</Path>
    <Trashed>false</Trashed>
    <ContentType>machine</ContentType>
    <CreateDate>2022-06-15T13:04:49</CreateDate>
    <NodeName Default="machine-1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee3c65c4-9218-4967-a160-ea5f7a294ee6">Machine</Template>
  </Info>
  <Properties>
    <customer>
      <Value><![CDATA[Solve GmbH]]></Value>
    </customer>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.]]></Value>
    </description>
    <displayName>
      <Value><![CDATA[Eine schöne Maschine]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <lat>
      <Value><![CDATA[47.418568]]></Value>
    </lat>
    <long>
      <Value><![CDATA[9.183778]]></Value>
    </long>
    <member>
      <Value><![CDATA[]]></Value>
    </member>
    <serialNo>
      <Value><![CDATA[SLV-DEV0005]]></Value>
    </serialNo>
    <title>
      <Value><![CDATA[Testmachine]]></Value>
    </title>
    <widgets>
      <Value><![CDATA[[{"key":"126b07a0-c94b-4027-b9e6-db7963e8d950","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"line\"]","title":"Test","signals":"[\"level\",\"core temperature\"]","machine":""}]]]></Value>
    </widgets>
  </Properties>
</Content>