<?xml version="1.0" encoding="utf-8"?>
<Content Key="c345ec4f-964e-4334-9c9b-80353b877869" Alias="Machine Overview" Level="2">
  <Info>
    <Parent Key="0d88bb40-ca76-4b40-9123-d8684d8364b8">Home</Parent>
    <Path>/Home/MachineOverview</Path>
    <Trashed>false</Trashed>
    <ContentType>machineOverview</ContentType>
    <CreateDate>2022-07-22T09:59:22</CreateDate>
    <NodeName Default="Machine Overview" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a0656f10-0d94-4780-8dc1-cd4b360013fc">MachineOverview</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Machine Overview]]></Value>
    </title>
    <widgetsLeft>
      <Value><![CDATA[]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value><![CDATA[]]></Value>
    </widgetsRight>
  </Properties>
</Content>