<?xml version="1.0" encoding="utf-8"?>
<Content Key="15c14ebf-73f0-48fb-85ce-2ce19e7ba196" Alias="Machine 2" Level="3">
  <Info>
    <Parent Key="adc6e8a1-9df0-45f4-a837-9e1ce93802a2">Machine Overview</Parent>
    <Path>/Home/MachineOverview/Machine2</Path>
    <Trashed>false</Trashed>
    <ContentType>machine</ContentType>
    <CreateDate>2022-07-19T12:17:51</CreateDate>
    <NodeName Default="Machine 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee3c65c4-9218-4967-a160-ea5f7a294ee6">Machine</Template>
  </Info>
  <Properties>
    <customer>
      <Value><![CDATA[Müller]]></Value>
    </customer>
    <description>
      <Value><![CDATA[Eine neue Maschine]]></Value>
    </description>
    <displayName>
      <Value><![CDATA[Machine 2]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "7fedd159-2c2c-428b-a3cb-f0081a8eccea",
    "mediaKey": "d7836081-9621-4c05-b0fc-c52a7a602d8f"
  }
]]]></Value>
    </image>
    <lat>
      <Value><![CDATA[47.500598]]></Value>
    </lat>
    <long>
      <Value><![CDATA[9.445183]]></Value>
    </long>
    <member>
      <Value><![CDATA[]]></Value>
    </member>
    <serialNo>
      <Value><![CDATA[SLV-DEV0001]]></Value>
    </serialNo>
    <title>
      <Value><![CDATA[Machine 2]]></Value>
    </title>
    <widgetsLeft>
      <Value><![CDATA[]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value><![CDATA[]]></Value>
    </widgetsRight>
  </Properties>
</Content>