<?xml version="1.0" encoding="utf-8"?>
<Content Key="41dfe931-539d-4f56-8d48-9eaefd29a78d" Alias="Machine 1" Level="3">
  <Info>
    <Parent Key="adc6e8a1-9df0-45f4-a837-9e1ce93802a2">Machine Overview</Parent>
    <Path>/Home/MachineOverview/Machine1</Path>
    <Trashed>false</Trashed>
    <ContentType>machine</ContentType>
    <CreateDate>2022-07-07T16:29:10</CreateDate>
    <NodeName Default="Machine 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee3c65c4-9218-4967-a160-ea5f7a294ee6">Machine</Template>
  </Info>
  <Properties>
    <customer>
      <Value><![CDATA[Solve]]></Value>
    </customer>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.]]></Value>
    </description>
    <displayName>
      <Value><![CDATA[Machine 1]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "a6d4a33a-4747-43f7-ab40-3e4953d82913",
    "mediaKey": "daf1a249-cbf9-4b0a-9545-365e3ec88480"
  }
]]]></Value>
    </image>
    <lat>
      <Value><![CDATA[51.8804584345909]]></Value>
    </lat>
    <long>
      <Value><![CDATA[-8.45580838215076]]></Value>
    </long>
    <member>
      <Value><![CDATA[]]></Value>
    </member>
    <serialNo>
      <Value><![CDATA[SLV-DEV0001]]></Value>
    </serialNo>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <widgetsLeft>
      <Value><![CDATA[[{"key":"acf3789d-6199-4e91-895f-133f0ae7301a","name":"EChart","ncContentTypeAlias":"eChart","PropType":null,"type":"[\"bar\"]","isCollapsible":"0","signals":"[\"production units\",\"core temperature\",\"level\"]","title":"Test","machine":""}]]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value><![CDATA[]]></Value>
    </widgetsRight>
  </Properties>
</Content>