<?xml version="1.0" encoding="utf-8"?>
<Content Key="dea52f5e-bceb-4082-92bc-7f2fb0559cbf" Alias="Maschine 1" Level="3">
  <Info>
    <Parent Key="c345ec4f-964e-4334-9c9b-80353b877869">Machine Overview</Parent>
    <Path>/Home/MachineOverview/Maschine1</Path>
    <Trashed>false</Trashed>
    <ContentType>machine</ContentType>
    <CreateDate>2022-07-22T10:01:55</CreateDate>
    <NodeName Default="Maschine 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee3c65c4-9218-4967-a160-ea5f7a294ee6">Machine</Template>
  </Info>
  <Properties>
    <customer>
      <Value><![CDATA[Meier]]></Value>
    </customer>
    <description>
      <Value><![CDATA[Eine schöne Maschine]]></Value>
    </description>
    <displayName>
      <Value><![CDATA[Maschine 1]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "b9b16f42-9969-4c05-bd3a-c0c2dd4d46d7",
    "mediaKey": "57ec9f54-e4cf-497a-aad5-d75ca74f1f1d"
  }
]]]></Value>
    </image>
    <lat>
      <Value><![CDATA[42]]></Value>
    </lat>
    <long>
      <Value><![CDATA[42]]></Value>
    </long>
    <member>
      <Value><![CDATA[]]></Value>
    </member>
    <serialNo>
      <Value><![CDATA[SLV-DEV0001]]></Value>
    </serialNo>
    <title>
      <Value><![CDATA[Maschine 1]]></Value>
    </title>
    <widgetsLeft>
      <Value><![CDATA[]]></Value>
    </widgetsLeft>
    <widgetsRight>
      <Value><![CDATA[]]></Value>
    </widgetsRight>
  </Properties>
</Content>